@import '../helpers/all';

body,
.lightMode{
  --background-color-main: #{$background-color-main-light};
  --text-color-main: #{$text-color-main-light};
  --button-border-color: rgba(0, 0, 0, 0.1);
  --button-border-color-active: rgba(0, 0, 0, 0.7);

  --button-color-disabled: rgba(160, 30, 30, 0.7);
  --button-border-color-disabled: #933;
  --button-background-color-disabled: rgba(100, 0, 0, 0.2);

}
body{
  @media (prefers-color-scheme: dark){
    --background-color-main: #{$background-color-main-dark};
    --text-color-main: #{$text-color-main-dark};
    --button-border-color: rgba(255, 255, 255, 0.3);
    --button-border-color-active: rgba(255, 255, 255, 0.7);
  }
}
.darkMode{
  --background-color-main: #{$background-color-main-dark};
  --text-color-main: #{$text-color-main-dark};
  --button-border-color: rgba(255, 255, 255, 0.3);
  --button-border-color-active: rgba(255, 255, 255, 0.7);
}

html,
body{
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--text-color-main);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color-main);

  svg{
    fill: currentColor;
    stroke: currentColor;
  }
}
body{
  position: relative;
  transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}
*,
::after,
::before{
  box-sizing: inherit;
}
article{
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}