@import '../helpers/all';

:root{
  --background-color-main: #f5f3f3;
  --text-color-main: #333;
  --button-border-color: rgba(0, 0, 0, 0.1);
  --button-border-color-active: rgba(0, 0, 0, 0.7);

  @media (prefers-color-scheme: dark){
    --background-color-main: #333;
    --text-color-main: #ccc;

    --button-border-color: rgba(255, 255, 255, 0.3);
    --button-border-color-active: rgba(255, 255, 255, 0.7);
  }

  --button-color-disabled: rgba(160, 30, 30, 0.7);
  --button-border-color-disabled: #933;
  --button-background-color-disabled: rgba(100, 0, 0, 0.2);


  --border-color-main: #a74;
  --menu-home-color: #320e57;
  --menu-gallery-color: #ba262a;
  --menu-creations-color: #905200;
  --menu-guestbook-color: #2f4500;
  --menu-blog-color: #20446d;
  --menu-contact-color: #ffc0cb;
}
html,
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color-main);
  color: var(--text-color-main);

  svg{
    fill: currentColor;
    stroke: currentColor;
  }
}
*,
::after,
::before{
  box-sizing: inherit;
}
article{
  margin: 0 auto;
  padding: 1rem;
  max-width: 50rem;
}